* {
  box-sizing: border-box;
}
.App {
  display: flex;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100vh;
  overflow-y: scroll;
}

.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
